{% extends "Layout.html" %}

{% block content%}

<style>
    .home_container{
        display: flex;
        gap:20px
    }

    .browse_topics{
        width: 300px
    }
    
    .rooms{
        display:flex 
        flex-direction: column
    }
</style>

<h1>Home</h1>
<div class= "home_container">

    <div class="browse_topics"> 
       <h3>Browse Topics</h3>
       <hr>
       
       <div>
        <a href="{% url 'home' %}">All</a>
        </div>

       {% for topic in topics %}
        <div>
           <a href="{% url 'home' %}?q={{topic.name}}">{{ topic.name }}</a>
        </div>
       {% endfor %} 
    </div>

    <div class="rooms">
        <h5>{{room_count}} rooms available</h5>
        <a href="{% url 'create_room' %}">Create Room</a>
        {% comment %} <div>
            Hi my name is {{ rooms.0.name }}
        </div> {% endcomment %}
    
        {% for room in rooms %}
            {% comment %} {% if room.name == "pratik" %} {% endcomment %}
                <div>
                   
                    <h2>{{ room.name }} </h2>  
                    <a href="/room/{{ room.id }}/"> {{room.id}} {{room.topic.name}}</a><br>
                    <span>@{{room.host.username}}</span>
                    <h3>{{ room.description }}</h3>
                    {% if request.user != room.host %}
                        <p>Empty!</p>
                    {% else %}
                        <a href="{% url 'update_room' room.id %}">Edit</a>
                        <a href="{% url 'delete_room' room.id %}">Delete</a>
                    {% endif %}
                 </div>
            {% comment %} {% elif room.name == "yash" %} {% endcomment %}
            {% comment %} <div>
                {{ room.name }} gamer
            </div>  {% endcomment %}
            {% comment %} {% else %} {% endcomment %}
            {% comment %} <div>{{room.name}} coder</div> {% endcomment %}
            {% comment %} {% endif %}   {% endcomment %}
    
        {% endfor %}

    </div>

</div>
{% endblock %}